<header class="site-header">
  <div class="header-container">
    <div class="logo-area">
      <img src="images/logo1.jpeg" alt="Logo HSMHH" class="header-logo">

      <div>
        <h2>Hermandad Señor de los Milagros</h2>
        <span>Hamburgo · H.S.M.HH.</span>
      </div>
    </div>

    <button class="menu-toggle" aria-label="Abrir menú">☰</button>

    <nav class="nav-menu">
      <a href="index.html">Inicio</a>
      <a href="hermandad.html">La Hermandad</a>
      <a href="actividades.html">Actividades y Cultos</a>
      <a href="noticias.html">Noticias</a>
      <a href="devocion.html">Devoción</a>
      <a href="participa-contacto.html">Participa y Contacto</a>
    </nav>
  </div>
</header>